# Конфигурация
GITLAB_URL="https://mygitlabdomain.domain-com"
API_TOKEN="" # Необходимо указать токен из https://mygitlabdomain.domain-com/-/user_settings/personal_access_tokens
COUNT_APPROVE_WITHOUT_COMMENTS="FALSE" # TRUE / FALSE
DATE_FROM="2025-01-01"
DATE_TO="2025-09-09"
